/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}


.nodes text {
  pointer-events: none;
  font: 10px sans-serif;
}

  /* Make the chart container fill the page using CSS. */
  #rect {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
/*
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; 
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
*/